.course_logo {
    padding: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}

.year {
    font-size: 1.75rem;
}

.footer_inf {
    padding: 0;
    margin-top: 0; 
    height: 56px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.links {
    display: flex;
}

.us {
    padding: 0 20px;
}

.us:hover {
    text-shadow: 2px 2px 2px white;
    transition: .2s;
}

#footer_id {
    padding: 0%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 56px;
    line-height: 56px;
}

@media (max-width: 600px) and (min-width: 450px) {
    .us {
        padding: 0 10px;
    }
}

@media (max-width: 449px) {
    .us {
        padding: 0 5px;
        line-height: 20px;
    }
    .links {
        flex-direction: column;
        justify-content: space-around;
    }
}