.card {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 200px;
    height: 240px;
    margin: 50px;
    /* border: 1px solid #ccc; */
    position: relative;
    border-radius: 10%;
    justify-content: space-between;
    padding: 10px;
}

.flag {
    width: 80px;
    height: 50px;
}

.country {
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.capital {
    color: white;
    font-size: 20px;
}