.signIn-btn {
  margin-right: 10px;
}
input.card-input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

input.card-input + label {
  color: #ffffff !important;
}

input.card-input:focus {
  border-bottom: 1px solid #ffeb3b !important;
  box-shadow: 0 1px 0 0 #ffeb3b !important;
}

input.card-input:focus + label {
  color: #ffeb3b !important;
}

.auth-card {
  height: fit-content !important;
  width: 100%;
}
.auth-card-block {
  position: fixed;
  transition: all 1s;
  z-index: 5000 !important;
  width: 35%;
  background: red;
  height: 100vh;
  display: flex;
  align-items: center;
}

.shadow {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 4999;
}