.signIn-btn {
  margin-right: 10px;
}
input.card-input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

input.card-input + label {
  color: #ffffff !important;
}

input.card-input:focus {
  border-bottom: 1px solid #ffeb3b !important;
  box-shadow: 0 1px 0 0 #ffeb3b !important;
}

input.card-input:focus + label {
  color: #ffeb3b !important;
}