.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 100vh;
    overflow: auto;
    height: 610px;
}

.no_results {
  width: 100px;
  height: 100px;
}

.rec-arrow {
  background-color:  rgba(0, 0, 0, 0.5) !important;
}

.rec-dot {
  background-color:  rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.5) !important;
}

.rec-carousel {
  height: 575px !important;
}

.rec-item-wrapper {
  height: 575px !important;
}

.search_error {
  width: 20vh;
  height: 20vh;
  text-align: center;
  border-radius: 20%;
  background-color:rgba(255, 255, 255, 0.5);
  font-size: 30px;
  background-image: url('../../assets/images/search-magnifier-with-a-cross.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search_error_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carosel_part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.carosel_part:active, .carosel_part:focus {
  outline: none;
}

.carosel_part::-moz-focus-inner {
  border: 0;
}

@media (max-width: 820px) and (min-width: 450px) {
  .card_container {
    height: 554px;
  }
  .rec-carousel {
    height: 519px !important;
  }
  .rec-item-wrapper {
    height: 519px !important;
  }
}

@media (max-width: 449px) {
  .card_container {
    height: 498px;
  }
  .rec-carousel {
    height: 463px !important;
  }
  .rec-item-wrapper {
    height: 463px !important;
  }
}